@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: 173 58% 39%;
  --chart-2: 12 76% 61%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: 220 70% 50%;
  --chart-5: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-2: 340 75% 55%;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: 30px;
  margin: 20px;
  font-weight: 700;
}

a {
  transition: all 0.4s;
}

a:hover {
  color: #6f78f1;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--ring);
  margin: 10px;
}

nav a {
  margin: 0px 10px;
}

.account {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 10px;
}

.account img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.inline-svg {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}

.menu-controller {
  margin: 10px;
  display: none;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 1px solid var(--ring);
  color: var(--primary);
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.dropdown {
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--background);
  border: 1px solid var(--ring);
}

.loader-container {
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

.no-content {
  font-size: 20px;
  text-align: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: end;
}

button {
  cursor: pointer;
}

.logoutButton {
  background-color: oklch(0.637 0.237 25.331);
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.charts {
  display: flex;
  flex-wrap: wrap;
}

.my-chart {
  margin: 20px;
  width: 500px;
}

@media only screen and (max-width: 1158px) {
  .charts {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 880px) {

  .account .fullname,
  nav {
    display: none;
  }

  .menu-controller {
    display: flex;
  }
}

.clip-triangle {
  clip-path: polygon(89% 67%,
      76% 57%,
      57% 84%,
      45% 71%,
      26% 95%,
      14% 88%,
      0 100%,
      100% 100%,
      100% 48%);
}

@media only screen and (max-width: 600px) {
  .my-chart {
    width: 90%;
  }

  .searchResults {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .searchBarArea {
    width: 100% !important;
  }
}

.search-account-area {
  display: flex;
  align-items: center;
}

.searchBarArea {
  position: relative;
  margin: 0px 10px;
  width: 300px;
}

/* For small phones (up to 375px, iPhone SE, iPhone 6/7/8) */
@media (max-width: 375px) {
  .searchBarArea {
    width: 90%;
    max-width: 250px;
  }

  .searchBarArea input {
    font-size: .8rem;
  }
}

@media (max-width: 475px) {
  .searchBarArea {
    width: 95%;
    max-width: 280px;
  }
}


.searchResults {
  position: absolute;
  top: 45px;
  height: fit-content;
  max-height: calc(100vh - 80px);
  width: 100%;
  max-width: 300px;
  background: var(--background);
  z-index: 10;
  padding: 15px;
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 10px;
  border: 1px solid var(--ring);
}

input {
  border-color: var(--ring);
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.searchResults .stock {
  margin: 5px 0px;
  display: block;
}

.noData {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin: 30px 0px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news a {
  margin: 15px;
  width: 100%;
  max-width: 600px;
}

.news p {
  color: var(--muted-foreground);
  margin-bottom: 50px;
}

.novu-container {
  margin-top: 50px;
}

.nv-inboxHeader,
.nv-inboxContent,
.nv-moreActions__dropdownContent,
.nv-inboxStatus__dropdownContent {
  background-color: var(--background) !important;
  border: 1px solid var(--ring);
  border-radius: 10px;
  color: var(--card-foreground);
}

.nv-inboxStatus__dropdownContent {
  left: 15px !important;
}

.nv-inboxHeader {
  border: none !important;
}

.nv-inboxHeader button svg {
  color: var(--muted-foreground);
}

.nv-tabsList {
  margin-bottom: 20px;
}

.data-\[state\=active\]\:nt-text-foreground[data-state=active],
.nv-tabsList button {
  color: var(--card-foreground);
}

.nv-notification {
  border-top: 1px solid var(--ring);
}

.nv-notificationSubject__strong {
  font-weight: 800;
  transition: none;
}

.nv-notification:hover .nv-notificationSubject__strong,
.nv-notification .nv-notificationSubject__strong {
  color: var(--card-foreground) !important;
}

.nv-notificationBody__strong,
.nv-notification:hover .nv-notificationBody__strong {
  color: var(--muted-foreground);
}

.nv-moreActions__dropdownContent,
.nv-inboxStatus__dropdownContent {
  padding: 15px 10px;
}

.nv-moreActions__dropdownContent {
  left: unset !important;
  right: 15px !important;
}

.nv-notificationListEmptyNoticeContainer,
.nv-moreActions__dropdownTrigger svg,
.nv-moreActions__dropdownContent svg,
.nv-inboxStatus__dropdownContent,
.nv-inboxStatus__dropdownContent svg {
  color: var(--muted-foreground)
}

.novu-css-szlbgulx {
  border-radius: unset !important;
}